.main{
    justify-content: center;
    text-align: center;
    color: #C51605;
    margin-top: 150px;
    background-color: #FFE17B; 
    
font-family: 'Dancing Script', cursive;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Tilt Prism', cursive;
}