.loginCentre {
  background:red;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: 'Anton', sans-serif;
  justify-content:flex-start;
  align-items:baseline;
}



.main{
  background-color:black;
}
